<!DOCTYPE html>
<html>

<head>
    <title>Sistema de vendas</title>
    <meta charset="utf-8" />
    <!-- Stylesheets -->
    <link rel="stylesheet" href="photon/dist/css/photon.css" />
    <link rel="stylesheet" href="style.css" />

</head>

<body>
    <div class="window" id="app">
        <header class="toolbar toolbar-header">
            <h1 class="title">Sistema de Vendas</h1>
            <div class="toolbar-actions">
                <div class="btn-group">
                    <button class="btn btn-default">
                        <span class="icon icon-home"></span>
                    </button>
                    <button class="btn btn-default">
                        <span class="icon icon-folder"></span>
                    </button>
                    <button class="btn btn-default active">
                        <span class="icon icon-cloud"></span>
                    </button>
                    <button class="btn btn-default">
                        <span class="icon icon-popup"></span>
                    </button>
                    <button class="btn btn-default">
                        <span class="icon icon-shuffle"></span>
                    </button>
                </div>

                <button class="btn btn-primary" @click="createProduct">
                    <span class="icon icon-home icon-text"></span>
                    Novo Produto
                </button>


                <button class="btn btn-default">
                    <span class="icon icon-home icon-text"></span>
                    Filters
                </button>

                <button class="btn btn-default btn-dropdown pull-right">
                    <span class="icon icon-megaphone"></span>
                </button>
            </div>
        </header>
        <div class="window-content">
            <div class="pane-group">

                <div class="pane-sm sidebar">
                    <nav class="nav-group">
                        <h5 class="nav-group-title">Menu</h5>
                        <a href="index.html" class="nav-group-item">
                            <span class="icon icon-home"></span>
                            Clientes
                        </a>
                        <a href="produtos.html" class="nav-group-item active">
                            <span class="icon icon-download"></span>
                            Produtos
                        </a>
                        <a href="vendas.html" class="nav-group-item">
                            <span class="icon icon-folder"></span>
                            Vendas
                        </a>
                    </nav>
                </div>

                <div class="pane">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Preço</th>
                                <th>Quantidade</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="produto in produtos">
                                <td>
                                    {{produto.nome}}
                                </td>
                                <td>
                                    {{produto.preco}}
                                </td>
                                <td>
                                    {{produto.qtd}}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary"
                                        @click="editProduct(produto)">Editar</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div id="modal" v-if="openModal">
                    <div class="wrap">
                        <div class="toolbar toolbar-header toolbar-modal">
                            <h3 class="title" v-if="mode=='cadastro'">
                                Cadastro de Produto
                            </h3>
                            <h3 class="title" v-if="mode=='edicao'">
                                Editar Produto
                            </h3>

                        </div>
                        <form method="" action="" class="pane-body" id="cadastro-cliente">

                            <div class="form-group">

                                <input type="text" id="nome" class="form-control" placeholder="Nome"
                                    v-model="product.nome" />
                                <input type="text" id="preco" class="form-control" placeholder="Preço"
                                    v-model="product.preco" />
                                <input type="text" id="qtd" class="form-control" placeholder="Quantidade"
                                    v-model="product.qtd" />

                                <button type="button" id="salvar" @click="productStoreOrUpdate"
                                    class="btn btn-positive">Salvar</button>
                                <button type="button" id="fechar" class="btn btn-negative"
                                    @click="openModal=false">Fechar</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <footer class="toolbar toolbar-footer">
            <h1 class="title">Footer</h1>
        </footer>
    </div>

</body>

<script src="vue.js"></script>
<script>
    var read = require('read-file-utf8')
    var loki = require('lokijs');
    var db = new loki('db.json');
    var data = read(__dirname + '/db.json');
    db.loadJSON(data);
    window.vue = require('vue');

    // var produtos = db.addCollection('produtos');
    var produtos = db.getCollection('produtos');
    // db.save();

    new Vue({
        el: '#app',
        data: {
            // mode: '',
            openModal: false,
            produtos: [],
            product: {
                nome: '',
                preco: '',
                qtd: 0
            }
        },

        mounted: function () {
            this.produtos = produtos.data;
            console.log(this.produtos);
        },

        methods: {
            editProduct: function (product) {
                this.mode = 'edicao';
                this.openModal = true;
                this.product = product;
            },

            createProduct: function () {
                this.mode = "cadastro";
                this.openModal = "true";
                this.product = {
                    nome: '',
                    preco: '',
                    qtd: 0
                }
            },

            productStoreOrUpdate: function () {
                if (typeof this.product.$loki != 'undefined') {
                    produtos.update(this.product);
                } else {
                    produtos.insert(this.product);
                }
                db.save();
                this.openModal = false;
            }

        }

    })

</script>

</html>